$bg-color: #1D2D44;
$txt-color: #F0EBD8;
$btn-color: #0D1321;
$body_color: #3E5C76;



//reset basic code

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $body-color;
}

@mixin border-radius {
    border-radius: 5px;
}





.navbar{
    display: flex;
    justify-content: space-between;

    background-color: $bg-color;
    color: $txt-color;

    padding: 5px 50px 5px 50px;

    height: 50px;

    position: sticky;
    top: 0;

    h1{
        margin: 0px;
        line-height: 50px;
    }

    button{
        height: auto;

        margin: 5px 0px 5px 0px;

        background-color: $btn-color;
        color: $txt-color;

        border: 1px solid $btn-color;
        @include border-radius;

        text-transform: uppercase;
        font-weight: 700;
    }
}

@media screen and (max-width: 768px) {
    .navbar{
        padding: 5px 10px 5px 10px;
    }
}

// header css part

.header{
    background-size: cover;
    background-position: center center;

    color: $txt-color;

    height: 30vh;

    margin: 25px 50px 25px 50px;

    text-transform: uppercase;
    text-align: center;

    font-weight: 900;
    letter-spacing: 10px;

    @include border-radius;

    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 768px) {
    .header{
        margin: 25px 10px 25px 10px;
    }
}



